body {
    margin: 0;
    background-color:white;
}

h1 {
    padding: 20px;
    color: #154734;
}

#article_1 {
    background-color: #154734;
    margin-bottom: 50px;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 25px;
    color: white;
}

#first_image {
    width: 50vw;
    height: 250;
    margin-left: 15px;
}

.h2, h3 {
    padding: 10px;
    margin-top: 0px;
}

#article_2 {
    background-color: #154734;
    color: white;
    height: 700px;
    width: 100vw;
}

#second_img {
    height: 50vh;
    width: 281.5px;
    padding: 0px 5px 5px;
    border-radius: 10px;
}

#first_div_img {
    background-color: rgb(77, 77, 77);
}

.paragraph {
    font-size: 1em;
    padding: 10px;
}

#last_h3 {
    font-size: 2rem;
}

#last_div{
    background-color: #A85566;
    color: white;
}

#last_paragraph {
    width: 50%;
}

#destiny_div {
    display: flex;
    margin: 5px 5px 5px 5px;
}

.destiny_options {
    background-color: aliceblue;
    margin: 5px 11.5px 5px;
    border-radius: 10px;
}

.destiny_h4 {
    color: #154734;
}
